<footer class="footer-items position">

  <div class="footer-image-align" style="">
    <a>
      <img src="../../../assets/lms-logo" alt="LMS Logo" class="image-logo" />
    </a>
    <ul class="footer-list-items">
      <li><a>Terms & Conditions</a></li>
      <li><a>Privacy Policy</a></li>
      <li><a>About Us</a></li>
    </ul>
  </div>
  <div class="ms-auto icon-style">
    <ul class="footer-list-items">
      <li>
        <a> <i class="bi bi-facebook"></i> </a>
      </li>
      <li>
        <a> <i class="bi bi-instagram"></i> </a>
      </li>
      <li>
        <a> <i class="bi bi-twitter-x"></i> </a>
      </li>
      <li>
        <a> <i class="bi bi-linkedin"></i> </a>
      </li>
      <li>
        <a><i class="bi bi-github"></i> </a>
      </li>
    </ul>
  </div>
</footer>