<div class="signup-wrapper">
  <div class="form-set">
    <h3 class="mb-4">Log in to your Learning account</h3>
    <form action="">
      <div class="form-floating mb-3">
        <input
          type="email"
          name="email-id"
          id="emailId"
          class="form-control"
          placeholder="name@example.com"
        />
        <label for="emailId">Email Address</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          name="password"
          id="password"
          class="form-control"
          placeholder="name@example.com"
        />
        <label for="name">Password</label>
      </div>

      <div>
        <button type="submit" class="btn sign-btn">Log in</button>
      </div>
    </form>
    <div class="forget-pass mt-3">
      <p>
        or <a href=""> <strong>Forgot Password</strong> </a>
      </p>
    </div>
    <p></p>
    <div class="arrange">
      <p>
        Don't have an account?
        <a
          routerLink="/register"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          ><strong>Sign up</strong></a
        >
      </p>
    </div>
  </div>
</div>
