<nav class="navbar navbar-expand-lg bg-body-tertiary navbar navbar-dark bg-dark">
  <div class="container-fluid nav-items">
    <a class="navbar-brand">
      <img src="../../../assets/lms-logo" alt="LMS Logo" routerLink="/home" routerLinkActive="active"
        class="image-logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="searchbutton input-group">
          <input class="form-control" placeholder="Search Courses" aria-label="Search Courses"
            aria-describedby="search-cources" type="text" name="searchcourse" id="searchcourse" />
          <button class="btn btn btn-outline-secondary" type="button" name="search" id="search">
            Search
          </button>
        </div>
        <ul class="nav-list-items ms-auto mb-2 mb-lg-0 navbar-nav">

          <li class="nav-item">
            <a routerLink="/courses" routerLinkActive="active" ariaCurrentWhenActive="page">Categories</a>
          </li>
          <li class="nav-item">
            <a routerLink="/courses" routerLinkActive="active" ariaCurrentWhenActive="page">Plans/Pricing</a>
          </li>
          <li class="nav-item">
            <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
          </li>
          <li class="nav-item">
            <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>