.home-content {}

.carousel-container {
    height: 25rem;
    width: 100%;
    /* overflow: hidden;
    position: relative; */
}

.c-image {
    height: 25rem;
    padding: 10px 60px;
}

.card-styling {
    width: 18rem;
    height: 25rem;
    margin: 10px;
}

/* div {
    border: 5px solid red;
} */