.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: #F4F6F8;
    height: 100vh;
}

.header-footer-align {
    flex: 0 0 auto;
}

.page-body {
    flex: 1 1 auto;
    background-color: #F4F6F8;
    color: #2C3E50;
}

@media screen and (max-width: 768px) {
    .wrapper {
        height: 100vh;
        /* Prevents scrolling */
    }

    .page-body {
        padding: 5px;
        /* Reduce padding to fit smaller screens */
    }
}