<div>
  <h3>Course /Category title</h3>
  <div>
    "" Filter,sorting setup(category,duration),language,price,level,subcategory,
    total number of results ""
  </div>
  <section>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      @for (course of courseList; track course.courseId ) {
      <div class="card-styling col mb-3">
        <div class="card card-styling">
          <img
            [src]="course.thumbnailUrl"
            class="card-img-top"
            alt="Image of course"
          />
          <div class="card-img-overlay">
            <p class="card-text">
              <!-- <small>{{ course.createdDate }}</small> -->
            </p>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ course.courseName }}</h5>
            <p class="card-text">
              {{ course.courseDescription }}
            </p>
          </div>
        </div>
      </div>
      }
    </div>
    @if (courseList.length>4) {
    <button type="button">Show 4 cources</button>
    <button type="button">View All</button>
    }
  </section>
</div>
