.sign-btn {
    width: 100%;
    background-color: #cab2ae;
    padding: 8px;
    color: rgb(125, 92, 103)
}

.sign-btn:hover {
    background-color: #b39f9e;
    color: rgb(97, 66, 76);
}

label {
    color: rgb(125, 92, 103)
}

.arrange {
    max-width: 100%;
    /* background-color: rgb(231, 206, 214); */
    padding: 8px;
    color: rgb(97, 66, 76);
}

a {
    color: darkblue;
}

.whole {
    height: 100%;
    width: 100%;
    border: 2px solid red;
}

form {
    margin: 1.2rem auto 1.5rem;
}

@media screen and (max-height: 600px) {
    form {
        margin: auto;
    }
}